/*FONT SETTINGS*/
:root {
    --main-color: #0096EE;
    --blur-color: rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4);
    --scrollbar-size: .375rem;
    --scrollbar-minlength: 1.5rem; /* Minimum length of scrollbar thumb (width of horizontal, height of vertical) */
    --scrollbar-ff-width: thin; /* FF-only accepts auto, thin, none */
    --scrollbar-track-color: transparent;
    --scrollbar-color: rgba(0,0,0,.2);
    --scrollbar-color-hover: rgba(0,0,0,.3);
    --scrollbar-color-active: rgba(0,0,0,.5);
}
* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.layout-cell {
    overscroll-behavior: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: var(--scrollbar-ff-width);
}

/* This class controls what elements have the new fancy scrollbar CSS */
.layout-scrollbar {
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}
.layout-scrollbar::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
}
.layout-scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}
.layout-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 4px;
}
.layout-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover);
}
.layout-scrollbar::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-color-active);
}
.layout-scrollbar::-webkit-scrollbar-thumb:vertical {
    min-height: var(--scrollbar-minlength);
}
.layout-scrollbar::-webkit-scrollbar-thumb:horizontal {
    min-width: var(--scrollbar-minlength);
}
/* .layout-scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.layout-scrollbar::-webkit-scrollbar-button {
  display: none;
}
 */


html {
    scroll-behavior: smooth;
}
h1,h2 {
    font-family: 'Montserrat', sans-serif;
    font-stretch: expanded;
    letter-spacing: 0.2rem;
    font-kerning: auto;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
}
h4 {
    font-family: 'Nunito', sans-serif;
}
strong > p {
    font-size: 2rem;
}
section {
    margin: 180px 0;
}

/*TOP*/
nav {
    background-color: transparent!important;
}
.top-index {
    background-image: linear-gradient(var(--blur-color)), url("../img/header-bg1.jpg");
    -moz-background-image: -moz-linear-gradient(var(--blur-color)), url("../img/header-bg1.jpg");
    -webkit-background-image: -webkit-linear-gradient(var(--blur-color)), url("../img/header-bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
}
header {
    height: 60vh;
}
.top-index .header-text {
    padding: 10rem 0;
}
nav ul a {
    font-size: 1.7rem;
    transition: -moz-text-shadow .4s;
    transition: -wekit-text-shadow .4s;
    transition: text-shadow .4s;
}
.top-index nav ul a:hover {
    -moz-text-shadow:0 0 6px #fff;
    -webkit-text-shadow:0 0 6px #fff;
    text-shadow:0 0 8px #fff;
    background-color: transparent;
}

.sidenav {
    width: 45vw;
}
.waves-effect.waves-brown, .kla-blue {
    background-color: var(--main-color) !important;
}

.site-logo {
    width: 56px;
    padding: 8px;
}
.h-index .container {
    padding: 10rem;
}
.navbar-fixed nav {
    transition: background-color .3s ease-in;
}
input[type=search], nav form, .input-field {
    margin-left:28vw;
}

.active-nav {
    background-color: var(--main-color) !important;
}

/*BLOCK 1*/
.promo h4, .promo i {
    color: var(--main-color);
}
.promo p {
    font-size: 1.3rem;
}
.promo .material-icons {
    font-size: 5rem;
}
/*BLOCK 2*/
figure.effect-sarah{
    background-color: var(--main-color);

}
figure.effect-sarah:hover img{
    opacity:.3
}
/*BLOCK 3*/
.carousel .carousel-item {
    width: 300px;
    height: 300px;
}
.carousel {
    height: 500px
}
/*MEDIA RULES*/
@media only screen and (min-width: 769px) {
    .site-logo {
        width: 64px;
    }
    nav i.material-icons {
        height: 64px;
        line-height: 64px;
    }
    .input-field input[type=search], #form1 {
        width: 40vw;
    }
    #block2 .grid {
        line-height: 0;
    }
    .carousel .carousel-item {
        width: 400px;
        height: 400px;
    }
}
.card img {
    height: 200px;
}
@media only screen and (max-width: 769px) {
    nav i.material-icons {
        height: 56px;
        line-height: 56px;
    }
    #form1{
        margin-left:56px;
    }
    .input-field input[type=search], #form1 {
        width: calc(100% - 64px)!important;
    }
    #block2 .row {
        margin-bottom: 0;
    }
    figure {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-bottom: 0!important;
        margin-top: 0!important;
    }
}
